# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse / VS Code (ileride ihtiyaç olursa)
.classpath
.project
.settings/
.vscode/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# OS
.DS_Store
Thumbs.db
__MACOSX/

# Paket yöneticisi / OS lock dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
*.swp
RandomUserMeServiceLib/src/.DS_Store
RandomUserMeServiceLib/src/main/.DS_Store
RandomUserMeServiceLib/src/main/java/.DS_Store
RandomUserMeServiceLib/src/main/java/com/.DS_Store
RandomUserMeServiceLib/src/main/java/com/example/.DS_Store
RandomUserMeServiceLib/src/main/java/com/example/randomuserme/.DS_Store